.Myfont
{
    font-size: 14px;
}
.Mycolor
{
    color:#888;
}
.Mycolorgray
{
    background-color: #BBB;
}
.Mypadding
{
    padding-top: 90px;
    padding-bottom: 90px;
}
.Mycolor2
{
    color:#555;
}